# SQL joining (merging) tables (exercises)

## Preparation

For this section you need `chinook.db` database file and working `%sql` magic.  
If you don't have it, please go back to the [previous section](../09_sql/connect_to_database.ipynb) and follow the instructions.  
The following code should not produce any errors:

In [ ]:
%load_ext sql
%sql sqlite:///chinook.db

## Exercise: Customer invoices

Use `LEFT JOIN` of tables `customers` and `invoice` to build a table listing all invoices per a customer.  
The table should have these columns:
- `CustomerId`
- `FirstName`
- `LastName`
- `InvoiceId`

What would be the primary key for this table?

In [ ]:
%%sql
SELECT CustomerId, FirstName, LastName, InvoiceId FROM customers
LEFT JOIN invoices USING (CustomerId)
LIMIT 10

## Exercise: Customers without invoices?

Would customers without any invoice be visible in the result table produced above?

Check whether such customers exist there.

In [ ]:
# Customers without any invoice exist.

## Exercise: Double join

*In short:* For each customer we want to know totals: how many tracks were bought and for what total price.

Build a temporary table `customer_summary` with the following columns:
The table should have these columns:
- `CustomerId` based on `customers`.
- `TotalTracksNum` - total number of tracks bought by the customer.
- `TotalPrice` - total sum of prices payed by the customer.

Use tables `customers`, `invoice` and `invoice_items`.

In [ ]:
%%sql
CREATE TEMP TABLE customer_summary AS
    SELECT cus.CustomerId, COUNT(inv.InvoiceId) AS TotalTracksNum, SUM(UnitPrice) AS TotalPrice
      FROM customers AS cus
      LEFT JOIN invoices AS inv ON cus.CustomerId = inv.CustomerId
      LEFT JOIN invoice_items AS invit ON inv.InvoiceId = invit.InvoiceId
      GROUP BY cus.CustomerId;
SELECT * FROM customer_summary LIMIT 5