# SQL other joins and subqueries (exercises)

## Preparation

For this section you need `chinook.db` database file and working `%sql` magic.  
If you don't have it, please go back to the [previous section](../09_sql/connect_to_database.ipynb) and follow the instructions.  
The following code should not produce any errors:

In [ ]:
%load_ext sql
%sql sqlite:///chinook.db

## Exercise: difference between two sets

Based on the `artists` and `albums` tables:
- Construct a table with one column `ArtistId` containing only the artists who do not have any album.
- Use `EXPECT`.

In [ ]:
%%sql
SELECT ArtistId FROM artists
EXCEPT
SELECT DISTINCT ArtistId FROM albums
LIMIT 5

## Exercise: intersection of two sets

Based on the `customers` and `invoices` tables:
- Construct a table with one column `CustomerId` containing only the customers who had an invoice.
- Use `INTERSECT`.

In [ ]:
%%sql
SELECT CustomerId FROM customers
INTERSECT
SELECT DISTINCT CustomerId FROM invoices
LIMIT 5

## Exercise: subquery

Returns the customers whose sales representatives are in the `City` of `Calgary` .  
You can use `customers` and `employees` tables.

In [ ]:
%%sql
SELECT * FROM customers 
WHERE SupportRepId IN 
(SELECT EmployeeId FROM employees WHERE City = 'Calgary')